AddDefaultCharset UTF-8
Options -Indexes
DirectoryIndex index.php bootstrap.php index.html
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/?$ bootstrap\.php?options=$1
