<?php

$title = '';
include('header.html');

?>

<div class="content">

	<h3>Поиск слова</h3><br>

	<? if (Helper\FlashText::hasByType('danger')) : ?>
		<? Helper\FlashText::render(); ?>
	<? endif; ?>

	<br>
	<form action="" method="post">
		<input type="text" name="text" placeholder="Введите слово для поиска" class="form-control"><br>
		<input type="submit" class="btn btn-success" value="Искать">
		<input type="submit" class="btn btn-success" name="search-ajax" value="Искать по AJAX">
	</form>
</div>

<? include('footer.html'); ?>